@media (max-width: 1920px){
   * {
      /* font-size: 13px; */
      font-size: 8px;
   }
}
@media (max-width: 1400px){
   * {
      font-size: 6px;
   }
}
@media (max-width: 1200px){
   * {
      font-size: 5px;
   }
}
@media (max-width: 992px){
   * {
      font-size: 4px;
   }
}
@media (max-width: 768px){

}
@media (max-width: 576px){

}








